<!doctype html>
<html lang=en>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> -->
    <meta charhha_set=utf-8>
    <title>My House - ACNH HHA Score Calculator</title>
</head>

<body>
    <!-- navigation bar -->
    <nav class="topbar">
        <div class="logo"><a href="/">HHA Score Calculator</a></div>

        <ul class="nav-links">
            <div class="menu">
          
                <li><a href="/">Home</a></li>

                <li><a href="/search">Search</a></li>
                
                <li class="myhouse-dropdown">
                    <a href="/myhouse">My House</a>
                    <ul class="dropdown">
                        <li><a href="/myhouse/r1">Main Room</a></li>
                        <li><a href="/myhouse/r2">Left Room</a></li>
                        <li><a href="/myhouse/r4">Right Room</a></li>
                        <li><a href="/myhouse/r3">Back Room</a></li>
                        <li><a href="/myhouse/r5">Top Floor</a></li>
                        <li><a href="/myhouse/r6">Basement</a></li>
                    </ul>
                </li>

                <li><a href="/profile">Profile</a></li>

            </div>
        </ul>
    </nav>
    
    <div class="info">
        <h3>My House</h3>
        <p>Total score: <%= @user.total_score %></p>
    </div>

    <div class="info">
        <h3>Main Room</h3>
        <p>Score: <%= @user.r1_score %></p>
        <br>
        <p><a href='/myhouse/r1'>View Room</a>
    </div>

    <div class="info">
        <h3>West Room</h3>
        <p>Score: <%= @user.r2_score %></p>
        <br>
        <p><a href='/myhouse/r2'>View Room</a>
    </div>

    <div class="info">
        <h3>Back Room</h3>
        <p>Score: <%= @user.r3_score %></p>
        <br>
        <p><a href='/myhouse/r3'>View Room</a>
    </div>

    <div class="info">
        <h3>East Room</h3>
        <p>Score: <%= @user.r4_score %></p>
        <br>
        <p><a href='/myhouse/r4'>View Room</a>
    </div>

    <div class="info">
        <h3>Top Floor</h3>
        <p>Score: <%= @user.r5_score %></p>
        <br>
        <p><a href='/myhouse/r5'>View Room</a>
    </div>
    
    <div class="info">
        <h3>Basement</h3>
        <p>Score: <%= @user.r6_score %></p>
        <br>
        <p><a href='/myhouse/r6'>View Room</a>
    </div>
    <div class="bottombar">
        <h3>&copy; jannapps</h3>
    </div>

</body>
</html>
